body {
  background-image: url("../images/background.jpg");
  margin: 0;
}
body a {
  text-decoration: none;
}

.page-header {
  background-color: #333;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.page-header .title {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
.page-header .logo {
  width: 150px;
}

.green-letter {
  color: #4CAF50;
}

.content {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 65px;
  grid-template-areas: "cplusplus  html        java" "php          python      csharp";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.content .content-block {
  height: 300px;
}
.content .dotted-border {
  border: white dotted 5px;
  margin: 20px;
}
.content .link-bar {
  background-color: #4CAF50;
  width: 100%;
  font-family: Consolas, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 30px;
}
.content .c-plus-plus {
  grid-area: cplusplus;
  background-image: url("../images/cplusplus.jpg");
  background-size: cover;
}
.content .html {
  grid-area: html;
  background-image: url("../images/html.png");
  background-size: cover;
}
.content .java {
  grid-area: java;
  background-image: url("../images/java.jpg");
  background-size: cover;
}
.content .php {
  grid-area: php;
  background-image: url("../images/php.png");
  background-size: cover;
}
.content .python {
  grid-area: python;
  background-image: url("../images/python.png");
  background-size: cover;
}
.content .csharp {
  grid-area: csharp;
  background-image: url("../images/Csharp.png");
  background-size: cover;
}

.navbar {
  font-family: Consolas, sans-serif;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
}
.navbar .sm-screen {
  display: none !important;
}
.navbar .navbar-list {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.navbar .navbar-list .nav-item {
  display: block;
  padding: 15px;
  cursor: pointer;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  text-align: center;
}
.navbar .navbar-list .nav-item:hover {
  background-color: #4CAF50;
}

.detail-content {
  font-family: "Comic Sans MS", sans-serif;
  width: 75%;
  margin: 20px auto 20px auto;
  color: white;
}
.detail-content .first::first-letter {
  font-size: 300px;
  font-family: Consolas, sans-serif;
}
.detail-content p:nth-child(even) {
  color: #4CAF50;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

.sub-title-block {
  width: 75%;
  margin: 20px auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-title-block .sub-title {
  font-size: 48px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Arial Black", sans-serif;
  text-align: right;
  margin-right: 25px;
}

.green-button {
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-weight: bold;
  background: #4CAF50;
  color: #fff;
  border: 1px solid white;
  border-radius: 10px;
}

.menu-toggle {
  font-family: Consolas, sans-serif;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: none;
  transition: all 0.3s ease;
}
.menu-toggle .hamburger {
  color: #4CAF50;
  font-size: 36px !important;
  align-content: center;
  margin: 0 20px;
}
.menu-toggle h1 {
  color: white;
  float: right;
}

@media screen and (max-width: 600px) {
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 65px;
  }

  .content {
    margin: 20px;
    grid-template-columns: 1fr;
    padding-bottom: 65px;
    grid-template-areas: "cplusplus" "html" "java" "php" "python" "csharp";
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #3B3B3B;
    overflow-y: auto;
    transition: width 0.3s ease;
  }

  .navbar-list {
    flex-direction: column;
  }
  .navbar-list .nav-item {
    font-size: 1em !important;
  }
  .navbar-list .sm-screen {
    display: block !important;
  }
  .navbar-list .sm-screen .nav-item {
    color: #4CAF50 !important;
  }
  .navbar-list .sm-screen:hover .nav-item {
    color: white !important;
  }

  #main-menu:target {
    width: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
